<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root">
  <div style="display: flex; flex-direction: column; align-items: center; width: 80%; margin: 0 auto;">
    <h1>Oops</h1>
    <img style="width: 50%;" src="https://aff5fa4925746bf9c161-fb36f18ca122a30f6899af8eef8fa39b.ssl.cf5.rackcdn.com/images/AC_Tom_FRYtwIN.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png" />
    <h2>You broke it :(</h2>
  </div>
</main>
