$black: #18191c;
$gray: #87909c;
$green: #43b581;
$purple: #7289da;
$darker-purple: #697ec4;
$red: #f04747;
$server-gray: #202225;
$channel-gray: #2f3136;
$channel-active: #3a3d44;
$channel-hover: #303237;
$channel-header: #2f3136;
$message-gray: #36393e;
$message-header: #36393f;
$message-border: #3E4146;
$form-gray: hsla(218, 5%, 47%, .3);
$form-text: hsla(0, 0%, 100%, .7);
$status-gray: rgba(32, 34, 37, 0.3);
$add-gray: #535559;
$add-hover: hsla(0, 0%, 100%, 0.75);
$inactive-text: #4b4d4f;
$member-header: hsla(0, 0%, 100%, 0.4);
