$black: #18191c;
$gray: #87909c;
$server-gray: #202225;
$channel-gray: #2f3136;
$message-gray: #36393e;
$status-gray: #2b2c31;
$add-gray: #535559;
$add-hover: hsla(0, 0%, 100%, .75);
$inactive-text: #4b4d4f;
$green: #43b581;
$purple: #7289da;
$darker-purple: #697ec4;
$red: #f04747;
