$black: #18191c;
$gray: #87909c;
$green: #43b581;
$purple: #7289da;
$darker-purple: #697ec4;
$red: #f04747;
$server-gray: #202225;
$channel-gray: #2f3136;
$channel-active: #42464d;
$channel-hover: #36393f;
$channel-header: #2f3136;
$channel-icon: #b9bbbe;
$channel-selected: #f6f6f7;
$channel-unselected: #72767d;
$searchbar-text: #515256;
$message-gray: #36393e;
$message-header: #36393f;
$message-border: #3e4146;
$message-header-icon: #8a8e94;
$message-time: hsla(0, 0%, 100%, 0.2);
$form-gray: hsla(218, 5%, 47%, 0.3);
$form-text: hsla(0, 0%, 100%, 0.7);
$status-gray: rgba(32, 34, 37, 0.3);
$add-gray: #535559;
$add-hover: hsla(0, 0%, 100%, 0.75);
$inactive-text: #4b4d4f;
$member-header: hsla(0, 0%, 100%, 0.4);
