html, body, main, main > div {
  width: 100%;
  min-width: 320px;
  height: 100%;
}

.splash-container, .splash-inner, .app-container, .main-container,
.main-content, .servers, .channels, .messages-container {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', $sans-serif;
  font-weight: 400;
  color: #fff;
  background: $black;
  overflow: hidden;
}

html, body, button, input {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', $sans-serif;
  font-weight: bold;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 36px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.icon {
  margin: 10px 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-small {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $black;
}

.icon-tiny {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

hr {
  margin: 10px auto;
  width: 90%;
}

.spacer {
  flex: 0 0;
  padding: 5px;
}

.scroller {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroller-wrap {
  flex: 1;
  overflow: hidden;
}

.scroller-wrap .scroller::-webkit-scrollbar {
    width: 14px;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: $channel-gray;
  border: 3px solid $channel-gray;
  border-radius: 7px;
}

.scroller-wrap ::-webkit-scrollbar-thumb {
  background-color: $channel-gray;
  border-color: $message-gray;
}
