html, body, main, main > div {
  width: 100%;
  min-width: 320px;
  height: 100%;
}

body {
  font-family: $sans-serif;
  color: #fff;
  background: $black;
}

html, body, button, input {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', $sans-serif;
  font-weight: bold;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 36px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  text-align: center;
}
