.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  background: $server-gray;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
}

.main-container {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', $sans-serif;
    font-weight: 600;
  }

  h1 {
    font-size: 18px;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
