.members-container {
  flex: 0 0 auto;
  width: 240px;
  background: $channel-gray;
  overflow: hidden;
}

.members {
  overflow: hidden;
}

.members.scroller:hover {
  overflow-y: scroll;
  height: calc(100vh - 48px);
}

.members h2 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  color: $member-header;
  text-transform: uppercase;
}

.member, .members h2 {
  padding: 5px 30px;
}

.member {
  display: flex;
  align-items: center;
  flex: 1;
}

.member-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $member-username;
}

.members.scroller::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-color: transparent;
}
