.messages-container, .messages-header, .content, .messages,
.message-input textarea {
  width: 100%;
}

.content {
  flex: 1 1 auto;
  background: $message-gray;
}

.messages-header {
  height: 48px;
  z-index: 1;
  padding: 0 15px;
  background: $message-header;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}

.messages-header i {
  color: $message-header-icon;
}

.messages, .message-group, .message-input, .message-input textarea {
  flex: 1;
  min-width: 1px;
}

.messages {
  overflow: hidden;
}

.message-list {
  height: 100%;
}

.message-group {
  display: flex;
  flex: 1;
  border-bottom: 1px solid $message-border;
  margin: 10px 20px;
  padding: 20px 0;
  color: $form-text;
}

.message-icon {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 40px;
}

.messages .icon {
  margin: 0;
  width: 40px;
  height: 40px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-title {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.message-content .username {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-overflow: inherit;
}

.timestamp {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 300;
  color: $message-time;
  word-wrap: break-word;
}

.message-body {
  margin-top: 5px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.messages form {
  display: flex;
  align-items: center;
  padding: 20px;
  color: $form-text;
}

.message-input {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-height: 40px;
  max-height: 145px;
  background: $form-gray;
  border-radius: 5px;
  box-sizing: border-box;
}

.message-input textarea {
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: -0.5px;
  resize: none;
}

textarea.chat::placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
