.server-form, .server-add-form, .server-join-form {
  background: #fff;
  color: $dropdown-text;
  align-items: center;

  header {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $purple;
  }

  p {
    margin: 0 10px;
    text-align: center;
  }

  h5 {
    font-family: 'Source Sans Pro', $sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    line-height: 16px;
    font-size: 12px;
    color: $gray;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 48%;
  background: hsla(0, 0%, 100%, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  font-weight: 300;

  h3 {
    margin-top: 0;
    font-family: 'Source Sans Pro', $sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  button {
    width: 100%;
    padding: 15px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
  }
}

.action-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
  padding: 0 10px;
  width: 100%;
}

.create {
  h3, i {
    color: $purple;
  }
  button {
    background: $purple;
  }
  button:hover {
    background: $darker-purple;
  }
}

.join {
  h3, i {
    color: $green;
  }
  button {
    background: $green;
  }
  button:hover {
    background: $darker-green;
  }
}

.server-add-inner, .server-join-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.server-add-form {
  input {
    margin: 12px 0;
    margin-bottom: 1px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: $channel-gray;
    z-index: 4;
    outline: none;
    resize: none;
  }

  input:focus {
    border-bottom: 2px solid #7289da;
    margin-bottom: 0;
  }

  input::placeholder {
    color: $form-gray;
  }
}

.server-join-form {
  header {
    color: $green;
  }

  input {
    flex: 0 0 auto;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #99aab5;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 34px;
    z-index: 4;
    transition: all 0.3s;
  }

  input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
  }

  input::placeholder {
    color: $form-gray;
  }
}

.server-results {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  .scroller {
    display: flex;
    flex-direction: column;
    height: 150px;
    border-bottom: 1px solid $form-gray;
  }

  .scroller-wrap .scroller::-webkit-scrollbar-thumb,
  .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #fff;
    border-color: #fff;
  }

  .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-color: $gray;
  }
}


.server-result {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin: 1px 0;
  padding: 5px 10px;
  height: 25px;
  border-radius: 5px;
}

.server-result:hover {
  background: $channel-scrollbar;
  cursor: pointer;
}

.server-result.selected {
  background: $purple;
  order: -1;
  .search-username {
    color: #fff;
  }
  .serach-user-id {
    color: rgba(255, 255, 255, 0.8);
  }
}

.server-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  margin: 20px 10px 8px 10px;
  width: 100%;

  button {
    min-height: 40px;
    min-width: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 15px;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
    border-radius: 3px;
  }
}

.server-submit {
  margin-right: 10px;
  background: $purple;
  color: #fff;
}

.server-submit:hover {
  background: $darker-purple;
}

.server-join-modal {
  .server-submit {
    background: $green;
  }

  .server-submit:hover {
    background: $darker-green;
  }

  .search {
    color: $gray;
  }

  .search-result {
    flex: 0 0 auto;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    color: $black;
    text-align: left;
  }

  .search-result:hover {
    background: $form-gray;
  }

  .search-result.selected {
    background: $purple;
    color: #fff;
    order: -1;
  }

  .search-server-name {
    margin: 0 5px;
    font-size: 16px;
  }

  .search-server-id {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.4;
  }

  .scroller {
    width: 500px;
    padding-right: 6px;
  }
}

.server-cancel {
  color: $dropdown-text;
  text-transform: uppercase;
  i, svg {
    margin-right: 10px;
  }
}

button.server-cancel {
  margin-left: 8px;
  padding: 2px;
  border-radius: 0;
}

.server-cancel:hover {
  border-bottom: 2px solid $gray;
}
