.servers-container {
  flex: 0 0 auto;
  width: 70px;
  background: $server-gray;
  overflow: hidden;
}

.servers {
  width: 50px;
  padding: 10px 30px 10px 10px;
  position: relative;
}

.friends {
  margin-top: 0;
}

.icon .friends i {
  width: 100%;
}

.icon span {
  font-size: 18px;
}

.servers .active > .icon {
  border-radius: 15px;
  background: $purple;
}

.servers .active > .server::before {
  content: '';
  display: block;
  position: absolute;
  left: -5px;
  height: 40px;
  width: 10px;
  background: #fff;
  border-radius: 20px;
  transition: all 0.3s;
}

.servers .icon {
  background: $channel-gray;
  transition: all 0.3s ease-in-out;
}

.add-server {
  margin-bottom: 30px;
  border: 1px dashed $add-gray;
  color: $add-gray;
}

button.icon.add-server {
  background: transparent;
  transition: all 0.2s;
}

.add-server span {
  font-size: 40px;
  font-weight: 300;
}

.add-server:hover {
  border-color: $add-hover;
  color: $add-hover;
}

.servers .server:hover {
  border-radius: 15px;
  background: $purple;
  animation: icon-bounce 0.6s ease-in-out;
}

.servers .active > .icon:hover {
  animation: none;
}

@keyframes icon-bounce {
  0% {
    border-radius: 25px;
  }
  33% {
    border-radius: 10px;
  }
  66% {
    border-radius: 17px;
  }
  100% {
    border-radius: 15px;
  }
}

.servers hr {
  margin-left: 10px;
  width: 30px;
  border-width: 2px;
  border-color: $inactive-text;
}

.servers span {
  cursor: pointer;
}
