.session-form-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: color-fade 5s;
}

.fade {
  animation: bg-fade 4s;
}

@keyframes color-fade {
  from {
    background-color: $black;
  }
  to {
    background-color: $server-gray;
  }
}

@keyframes bg-fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.session-form-container {
  height: 100%;
}

.session-form-box {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  width: 630px;
  box-sizing: border-box;
}

.session-form-logo {
  width: 230px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
}

.session-form-logo h1, .session-form-logo h2 {
  color: $purple;
}

.session-form {
  width: 400px;
  background: rgba(40, 43, 48, 0.8);
  padding: 30px;
}

.session-form h1 {
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.session-form ul {
  margin-bottom: 10px;
  // list-style: disc inside;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: $red;
}

.session-form li {
  margin-bottom: 5px;
}

.session-form label {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
}

.session-form input {
  width: 100%;
  margin: 10px 0;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3 ease;
  font-size: 16px;
  line-height: 36px;
}

.session-form input:focus {
  border-bottom: 2px solid #fff;
  padding-bottom: 0;
}

.session-form button {
  margin-top: 40px;
  padding: 0 30px;
  width: 100%;
  height: 50px;
  background: $purple;
  color: #fff;
  border-radius: 3px;
}

.session-form button:hover {
  background: $darker-purple;
}

.session-form footer {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
}

.session-form footer a {
  color: #fff;
  cursor: pointer;
}

.session-form footer a:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

@media (max-width: 629px) {
  .session-form-box {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .session-form-container, .session-form-logo, .session-form {
    width: 100%;
    background: $black;
  }

  .session-form {
    padding-top: 0;
  }
}
