header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

header a {
  opacity: 0.8;
}

header a:hover {
  opacity: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}
