.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  min-width: 400px;
  max-width: 1600px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.splash-logo i {
  margin-right: 10px;
}

header h1 {
  transition: all 0.3s;
  margin-right: 20px;
}

nav {
  width: 200px;
  transition: all 0.3s;
}

nav a, .splash-button {
  opacity: 0.8;
}

nav a:hover, .splash-button:hover {
  opacity: 1;
}

.splash-button {
  padding: 5px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s;
}

@media (max-width: 649px) {
  header h1 {
    font-size: 24px;
  }

  nav {
    width: 165px;
  }

  .splash-button {
    padding: 3px 10px;
  }
}
