header {
  min-width: 90%;
  padding: 20px;
  box-sizing: border-box;
}

nav {
  width: 200px;
}

nav a, .splash-button {
  opacity: 0.8;
}

nav a:hover, .splash-button:hover {
  opacity: 1;
}

.splash-button {
  padding: 5px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
}
