.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

button {
  background: #fff;
  color: $black;
  border-radius: 3px;
  height: 50px;
  padding: 0 30px;
  transition: all 0.3s ease-in-out;
}

.button-green {
  margin-left: 40px;
  background: $green;
  color: #fff;
}

.session-buttons button:hover {
  transform: translateY(2px);
}

.session-buttons button:active {
  transform: translateY(3px);
}
