<!DOCTYPE html>
<html>
  <head>
    <title>Hubbub</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Nunito:900|Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      // Pusher.logToConsole = true;

      var pusher = new Pusher('16130caa1c2bfa995eaa', {
        cluster: 'us2',
        encrypted: true
      });

      // var channel = pusher.subscribe('hubbub');
      // channel.bind('event', function(data) {
      //   alert(data.message);
      // });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
