<!DOCTYPE html>
<html>
  <head>
    <title>Hubbub</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Nunito:900|Source+Sans+Pro:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
